<p> <%= @project.title %> </p>

<form action="/edit/<%= @project.id %>" method="post">

  <div class="form-group">
    <label for="edit">Edit Project Name</label>
    <input type="text" name="edit">
  </div>
  <br>
  <button type="submit" name="Edit Project">Edit Project</button>
</form>

<form action="/delete/<%= @project.id %>" method="get">
  <button type="submit" name="Delete Project">Delete Project</button>
</form>
